*{
    box-sizing: border-box;
}

aside{
    border-right: 1px solid #111;
    padding: 10px 20px;
    width: 250px;
}

body{
    align-items: center;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

button{
    background-color: #fff;
    border:1px solid #111;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.container{
    display: flex;
    padding:20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

main{
    flex: 1;
    padding-top: 10px;
}

main h2{
    border-bottom: 1px solid #111;
    display: flex;
    font-weight: 300;
    margin: 0 0 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}

main h3{
    background-color: #fff;
    border-bottom: 1px solid #111;
    display: flex;
    font-weight: 300;
    margin: 20px 0 0;
    padding: 10px;
    justify-content: space-between;
}

.person{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

ul{
    list-style: none;
}